#md_wrapper {
  background-color: #EEEEEE;
  width: 62%;
  min-height:100%;
  float: right;
}

#input_wrapper {
  background-color: #DDEEEE;
  width: 38%;
  min-height:100%;
  float: left;
  border: 0;
  padding: 0;
  margin: 0;
}

#wrapper {
  width:100%;
  height:100%;
  display:table;
}

#paper {
  display:table-cell; vertical-align:middle;
  padding: 50px;
  background-color: #eeeeee;
  align: center; 
}

#welcome {
  width: 300px;
  -moz-box-shadow: 0 0 20px #888;
  -webkit-box-shadow: 0 0 20px #888;
  box-shadow: 0 0 20px #888;
  -webkit-transform: rotate(-1deg);
  -moz-transform:  rotate(-1deg);
  padding: 50px;
  margin: 0 auto; 
  background-color: #FFFFFF; 
}

#md {
  padding: 1.5em;
  padding-top: 0;
  padding-bottom:0;
  font-family: 'PT Sans', sans-serif;
}

p {
    font: normal 16px 'PT Serif Caption', serif;
    text-align: justify;
    margin-bottom: 30px;
}

h1 {
    font: bold 43px 'PT Serif Caption', serif;
    line-height: .9;
}

.welcome {
    margin-top: 0px;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

textarea {
  width: 100%;
  min-height: 100%;
  font-size: 12pt;
  font-family: 'PT Serif Caption', serif;
  outline: none;
  resize: none;
  overflow: auto;
  margin: 0;
  padding:20px;
}

button::-moz-focus-inner {
  border: 0; 
}

/* minimal
*******************************************************************************/
button.minimal {
  background: #e3e3e3;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -ms-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -o-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font: bold 20px 'PT Sans', sans-serif;
  line-height: .7;
  padding: 20px 0 21px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 100%; }

  button.minimal:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
    -ms-box-shadow: inset 0 0 1px 1px #eaeaea;
    -o-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer; }

  button.minimal:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -ms-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -o-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; }